/* LAYOUT */
a { color: #5a5b5c; }
a:visited { color: #5a5b5c; }
a:hover { color: #5facd0; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

/* HEADER */
#header {
	background:url(../img/dark-blue-noise.png) repeat;
	margin:-10px -10px;

}
#header-container-up {
	background: url(../img/header-container-up.png) 0 10px no-repeat;
	width:1200px;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:20px;
}
#header-container-middle {
	background: url(../img/header-container-middle.png) 100% 0 repeat-y;
	width:1200px;
	margin:0 0;
	margin-top:11px;
	padding-bottom:5px;
}
#header-container-middle img {
	padding-left:20px;
}
#header-container-down {
	background: url(../img/header-container-down.png) 0 0 no-repeat;
	width:1200px;
	margin:0 auto;
	padding-top:-10px;
	padding-bottom:31px;
}

#header-nav {
	width:1200px;
	overflow:hidden;
	margin:0 auto;
}
#header-nav ul {
  float:left;
  position:relative;
  
  list-style:none;
}
#header-nav li { 
  float:left;
  position:relative;
  
}
#header-nav li a { 
  position: relative;
  padding: 0 16px 0 0;
  display:inline-block;
  margin-right:16px;
  cursor:pointer;
  border:0;
  overflow: visible; /* removes extra side padding in IE */
  background:url(../img/button-blue.png) no-repeat right -108px;
}
#header-nav li:last-child a { margin-right:0; }
/*button::-moz-focus-inner { border: none; }*/
#header-nav li a span { 
  position: relative;
  white-space: nowrap;
  padding: 0 0 0 13px; 
  display:inline-block;
  height:36px;
  line-height:36px;
  font-family:'Trebuchet MS',sans-serif;
  font-size:12px;
  text-align: center; 
  font-weight:bold;
  color:#fff; 
    background:url(../img/button-blue.png) no-repeat left top;
}
#header-nav li a span img { margin:-4px 8px 0 0; }
#header-nav li a:hover { background-position: right -144px; }
#header-nav li a:hover span { background-position: left -36px; }
#header-nav li a:active { background-position: right -180px !important; }
#header-nav li a:active span {
  line-height:38px;
  background-position: 0 -72px;
}
.bonus nav li a span { background:url(../img/button-bonus.png) no-repeat left top; }

#separator {
	background:url(../img/content-bg.png) repeat-x;
	min-height:3px;
	margin:auto;
}

/* CONTENT */
#content-bg {
	background:url(../img/dark-blue-noise.png) repeat;
	margin:0 -10px;
	padding-bottom:30px;
}
#content-bg h3 {
	font-family:'Trebuchet MS',sans-serif;
	color:#fff;
	text-align:center;
	font-size:12px;
}
hr { 
	display: block; 
	height: 2px; 
	background: url(../img/hr.png) repeat-x; 
	border: 0; 
	margin:0 15px; 
	padding: 0;
}
#content-container-up {
	background: url(../img/header-container-up.png) 0 30px no-repeat;
	width:1200px;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:20px;
}
#content-container-middle {
	background: url(../img/header-container-middle.png) 100% 0 repeat-y;
	width:1200px;
	margin:-5px auto;
	margin-top:31px;
	padding-bottom:5px;
	overflow:hidden;
}
#content-container-down {
	background: url(../img/header-container-down.png) 0 5px no-repeat;
	width:1200px;
	margin:0 auto;
	padding-top:15px;
	padding-bottom:31px;
	overflow:hidden;
}
#content-left {
	width:250px;
	padding-left:25px;
	font-family:'Trebuchet MS',sans-serif;
	color:#fff;
	border-right:3px solid #0e2e45;
	float:left;

}
#content-left p {
	padding-left:60px;
}

input[type="text"] {
  width:170px;
  border:1px solid #1f2022;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding:0 0 0 7px;
  margin:7px -5px 12px 25px;
  line-height:20px;
}
input[type="text"] {
  height:40px;
  background: #0c0d0e; /* Old browsers */
}
input[type="text"]:focus { 
  outline:none;
  border:1px solid #5facd0;
  color:#fff;
}

input[type="checkbox"] { float: left; width: 50px; }
button {
  width:250px;
  height:34px;
  border:0;
  background:url(../img/button.png) no-repeat;
  color:#fff;
}
button:hover,
button:active { background-position:0 100%; }

.content-middle {
	float:right;
	width:910px;
	font-family:'Trebuchet MS',sans-serif;
	color:#fff;
}
.content-middle h2 {
	font-size:18px;
	text-align:left;
	padding-left:30px;
}

.content-middle-books {
	width:700px;
	margin:0 auto;
}
.content-middle-books img {
	height:50px;
	width:50px;
}
.book-image {
	width:50px;
	height:50px;
	float:left;
}
.book-des {
	float:left;
	width:480px;
	border-right:1px solid #0e2e45;
	height:60px;
	padding-left:30px;
}
.book-download {
	float:left;
}
.border {
  border:2px solid #efefef;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}


div.pagination {
	width:1200px;
	overflow:hidden;
	margin-top:-20px;
	margin-left:-250px;
}
div.pagination ul {
  float:left;
  position:relative;
  left:50%;
  list-style:none;
}
div.pagination li { 
  float:left;
  position:relative;
  right:50%;
}
div.pagination li a { 
  position: relative;
  padding: 0 16px 0 0;
  display:inline-block;
  margin-right:16px;
  cursor:pointer;
  border:0;
  overflow: visible; /* removes extra side padding in IE */
  background:url(../img/button-blue.png) no-repeat right -108px;
}
div.pagination li:last-child a { margin-right:0; }
/*button::-moz-focus-inner { border: none; }*/
div.pagination li a span { 
  position: relative;
  white-space: nowrap;
  padding: 0 0 0 13px; 
  display:inline-block;
  height:36px;
  line-height:36px;
  font-family:'Trebuchet MS',sans-serif;
  font-size:12px;
  text-align: center; 
  font-weight:bold;
  color:#fff; 
    background:url(../img/button-blue.png) no-repeat left top;
}
div.pagination li a:hover { background-position: right -144px; }
div.pagination li a:hover span { background-position: left -36px; }
div.pagination li a:active { background-position: right -180px !important; }
div.pagination li a:active span {
  line-height:38px;
  background-position: 0 -72px;
}

div.pagination span.current {
	  position: relative;
	  white-space: nowrap;
	  padding: 0 10px 0 13px; 
	  display:inline-block;
	  height:36px;
	  line-height:36px;
	  font-family:'Trebuchet MS',sans-serif;
	  font-size:12px;
	  text-align: center; 
	  font-weight:bold;
	  color:#fff; 
	  background-color:#2e3136;	
	  border-radius:2px;
	margin-right:18px;
}	